@use 'src/styles/mixins' as *;

.meterBar {
  --track-size: 0.75em;

  font-size: 1.6rem;
  line-height: 1.9;

  .label {
    display: inline-block;

    color: var(--color-text);
    font-weight: 600;
    font-size: 0.8em;
  }

  .body {
    display: flex;
    align-items: center;

    line-height: 1.1;

    @include spacing(x, 0.5em);
  }

  .track {
    flex: 1;
    height: var(--track-size);

    background-color: var(--color-grey-85);
    border-radius: calc(var(--track-size) * 0.5);
  }

  .bar {
    width: min(calc(var(--percentage, 0) * 100%), 100%);
    height: 100%;

    background-color: var(--color-grey-05);
    border-radius: calc(var(--track-size) * 0.5);
  }
}
