.container {
  position: sticky;
  top: var(--header-height);
  z-index: 1;

  height: var(--serp-filters-height);
  padding: 0 calc(var(--spacing) * 1px);

  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-90);
}

.controls {
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  height: 100%;

  background: linear-gradient(
    var(--direction),
    var(--color-white) 0%,
    var(--color-white) 50%,
    transparent 100%
  );

  &.-left {
    --direction: 90deg;

    left: calc(var(--spacing) * 1px);

    padding-right: 2rem;
  }

  &.-right {
    --direction: 270deg;

    right: calc(var(--spacing) * 1px);

    padding-left: 2rem;
  }
}

.nav {
  height: 100%;
  overflow-x: auto;
}

.list {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;

  > * {
    flex-shrink: 0;
  }
}
