@import 'styles/variables';

html {
  font-size: calc(10 / #{$fontSize} * 100%);
  font-family: Montserrat, sans-serif;
}

body {
  color: var(--color-grey-05);

  background-color: var(--color-grey-95);
}

a,
button {
  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentColor;
  }

  &:focus {
    /* focus styles @supports not (:focus-visible) */
    outline: 2px solid transparent;
    box-shadow: var(--outline-button);

    &:not(:focus-visible) {
      /* undo focus styles (mouse focus) | @supports (:focus-visible) */
      box-shadow: none;
    }
  }

  &:focus-visible {
    /* keyboard only focus | @supports (:focus-visible) */
    box-shadow: var(--outline-button);
  }
}

::selection {
  color: var(--color-white);

  background: var(--color-primary-70);
}
