@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

html {
  font-size: 62.5%; // 10px
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-grey-95);
}
