.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.link {
  &:link,
  &:active,
  &:visited {
    color: var(--color-grey-05);
  }

  &:hover {
    text-decoration: none;
  }
}
