.visually-hidden {
  &:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    overflow: hidden;

    white-space: nowrap;

    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.scrollbar-primary {
  --scrollbar-foreground: var(--color-grey-60);
  --scrollbar-foreground-hover: var(--color-grey-75);
  --scrollbar-background: transparent;
  --scrollbar-size: 8px;

  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);

  &::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-foreground);
    border-radius: calc(var(--scrollbar-size) / 2);

    &:hover {
      background-color: var(--scrollbar-foreground-hover);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-background);
    border-radius: calc(var(--scrollbar-size) / 2);
  }
}

.link {
  &:link,
  &:active,
  &:visited {
    color: var(--color-grey-05);
  }

  &:hover {
    text-decoration: none;
  }
}
