.visually-hidden {
  &:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    overflow: hidden;

    white-space: nowrap;

    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.link {
  &:link,
  &:active,
  &:visited {
    color: var(--color-grey-05);
  }

  &:hover {
    text-decoration: none;
  }
}
