@use 'styles/mixins' as *;

.content {
  font-size: 1.4rem;
  color: var(--color-text);
  max-width: 35rem;
  outline: none;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25em;
  }

  .title {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.3;
    padding: 0 1em;
  }

  .body {
    padding: 0.75em 1.25em;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75em 1.25em;

    @include mobile {
      justify-content: center;
    }
  }
}
