@use 'styles/mixins' as *;

.container {
  padding: 1.5rem;
  min-width: 35rem;

  @include spacing(y, 2.5rem);

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > h2 {
      font-size: var(--font-size-18);
      font-weight: 600;
    }

    > ul {
      display: flex;
      align-items: center;

      @include spacing(x, 0.25rem);
    }
  }

  > footer {
    display: flex;
    justify-content: flex-end;

    > ul {
      display: flex;
      align-items: center;

      @include spacing(x, 0.75rem);
    }
  }
}
