@use 'styles/mixins' as *;

.container {
  padding: 0.5em;
  border-radius: var(--border-radius-xs);

  &:hover {
    background-color: var(--color-grey-95);
  }

  @include spacing(y, 0.7em);
}

.mapContainer {
  width: 100%;
  height: 35rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}
