.container {
  position: relative;

  button[aria-expanded='false'] + .dropdown {
    display: none;
  }

  button[aria-expanded='true'] + .dropdown {
    display: block;
  }

  > .dropdown {
    position: absolute;
    z-index: 5;

    background-color: var(--color-white);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-primary);

    &.bottom-left,
    &.bottom-right {
      top: 100%;
    }

    &.top-left,
    &.top-right {
      bottom: 100%;
    }

    &.top-left,
    &.bottom-left {
      left: 0;
    }

    &.top-right,
    &.bottom-right {
      right: 0;
    }
  }
}

.list {
  min-width: 17.5rem;
  padding: 0.5rem 0;

  > li[role='none'] {
    display: block;
  }
}
