.section {
  padding: calc(var(--spacing) * 1px);

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;

  background-color: var(--color-white);
  box-shadow: var(--shadow-primary);

  .title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.4;
    margin-block-end: 2.5rem;
  }

  .description {
    white-space: pre-line;
    margin-block-end: 0.5rem;
  }
}
