.section {
  .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.4;
    margin-block-end: 1rem;
  }

  .description {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    white-space: pre-line;
  }
}
