@use 'styles/mixins' as *;

.container {
  padding: 0.5em;

  font-size: var(--font-size-16);

  border-radius: var(--border-radius-xs);

  &:hover {
    background-color: var(--color-grey-95);
  }
}
