.container {
  display: inline-block;
  width: 4em;
  height: 4em;

  font-size: 1rem;

  .backdrop {
    fill: var(--color-grey-85);
  }

  .flap {
    fill: var(--color-grey-65);
  }

  .banner {
    fill: var(--color-primary-60);
  }

  .text {
    font-weight: 600;
    font-size: 85px;
    text-transform: uppercase;

    fill: var(--color-white);
  }
}
