@use 'styles/mixins' as *;

.container {
  font-size: var(--font-size-16);

  @include spacing(y, 0.7em);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.primaryActions {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.secondaryActions {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
