@use 'styles/mixins' as *;

.map {
  position: sticky;
  top: calc(var(--header-height) + var(--serp-filters-height));

  width: 100%;
  height: calc(100vh - var(--header-height) - var(--serp-filters-height));

  @include laptop {
    display: none;
  }

  .popup {
    [class~='leaflet-popup-content-wrapper'] {
      padding: 0;

      background-color: var(--color-white);
      border-radius: 0;
      box-shadow: var(--shadow-primary);
    }

    [class~='leaflet-popup-content'] {
      width: auto !important;
      margin: 0;
    }

    [class~='leaflet-popup-tip-container'] {
      display: none;
    }
  }
}
