{
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks",
    "next",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": [".", "src"]
      }
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "globals": {
    "React": "writable"
  },
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": ["error", { "prop": "ignore" }],
    "react/no-array-index-key": "off",
    "react/no-danger": "off",
    "react/display-name": "error",
    "react/function-component-definition": [
      "error",
      { "namedComponents": "arrow-function" }
    ],
    "react/jsx-no-useless-fragment": ["error", { "allowExpressions": true }],
    "react/jsx-curly-brace-presence": [
      "error",
      { "props": "never", "children": "never" }
    ],
    "react/jsx-key": ["error", { "checkFragmentShorthand": true }],
    "react/jsx-no-leaked-render": [
      "error",
      { "validStrategies": ["ternary", "coerce"] }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "no-console": ["warn", { "allow": ["info", "error"] }],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "no-empty-function": ["error", { "allow": ["constructors"] }],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "no-redeclare": "off",
    "@typescript-eslint/no-redeclare": ["error"],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "quotes": "off",
    "@typescript-eslint/quotes": ["error", "single", { "avoidEscape": true }],
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [["builtin", "external"], "internal", "parent", "sibling"],
        "newlines-between": "always"
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "react",
            "importNames": ["default"]
          }
        ]
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["return", "throw", "try", "switch", "if", "while", "for"]
      },
      {
        "blankLine": "always",
        "prev": "import",
        "next": ["export", "block-like"]
      }
    ],
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "no-case-declarations": "off",
    "no-undef": "off",
    "no-underscore-dangle": "off",
    "no-nested-ternary": "off",
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "global-require": "off",
    "camelcase": "off",
    "arrow-body-style": "off",
    "default-param-last": "off",
    "prefer-template": "error",
    "no-implicit-coercion": [
      "error",
      {
        "boolean": false,
        "number": true,
        "string": true,
        "disallowTemplateShorthand": true
      }
    ],
    "no-useless-concat": "error",
    "import/no-cycle": "off",
    "@next/next/no-img-element": "off"
  },
  "overrides": [
    {
      "files": ["*.d.ts"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    },
    {
      "files": ["*.story.tsx"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    },
    {
      "files": ["*.slice.ts"],
      "rules": {
        "no-param-reassign": "off"
      }
    }
  ]
}
