@use 'styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--serp-filters-height));

  .list {
    flex: 1;
    padding: 0 calc(var(--spacing) * 0.1rem);
  }
}
