@use 'styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;

  .list {
    --gap: 1.5rem;

    display: grid;
    flex-grow: 1;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap);
    padding: var(--gap);
  }
}
