@use 'styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(
    100vh - var(--header-height) - var(--header-secondary-height)
  );

  .list {
    flex: 1;
    padding: 0 calc(var(--spacing) * 0.1rem);
  }

  .card {
    width: 100%;
    height: 100%;
  }
}
