@import 'styles/mixins';

.input {
  font-size: 1.6rem;

  @include spacing(y, 0.25em);

  > input,
  > textarea {
    display: block;
    width: 100%;
    padding: 0.25em 0.5em;
    background-color: var(--color-white);
    border: 2px solid var(--color-grey-60);
    border-radius: var(--border-radius-sm);
    transition: var(--transition-duration-md) box-shadow;

    &:not(textarea) {
      line-height: 1;
      height: 2.25em;
    }

    &[readonly] {
      border-style: dotted;
      cursor: initial;
      color: var(--color-grey-40);
    }

    &[disabled] {
      border-color: var(--color-grey-75);
      background-color: var(--color-grey-95);
      cursor: not-allowed;
    }

    &[aria-invalid='true'] {
      border-color: var(--color-danger-60);
      background-color: var(--color-danger-90);

      + small {
        color: var(--color-danger-60);
      }
    }

    &:focus {
      outline: 2px solid transparent;
      border-color: var(--color-primary-60);
      box-shadow: 0 0 0 2px
        hsla(
          var(--color-primary-h),
          var(--color-primary-s),
          calc(var(--color-primary-l) + 30%),
          0.75
        );
    }
  }

  > textarea {
    resize: vertical;
  }

  > label {
    display: block;
    font-size: 0.9em;
    color: var(--color-grey-40);
    font-weight: 600;
  }

  > small {
    font-size: 0.8em;
    font-weight: 400;
  }
}
