@use 'styles/mixins' as *;

.card {
  --serp-card-height: 20rem;
  --aspect-ratio: 4 / 3;

  background-color: var(--color-white);
  box-shadow: var(--shadow-default);
  height: var(--serp-card-height);
  width: 100%;
  min-width: 0;
  display: flex;

  .image {
    height: var(--serp-card-height);
    width: calc(var(--serp-card-height) * var(--aspect-ratio));
  }

  .content {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  .header {
    @include spacing(y, 1rem);
  }

  .title {
    font-size: 1.6rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .subtitle {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-grey-45);
    line-height: 1.6;

    > * {
      vertical-align: middle;
      margin-inline-end: 0.5rem;
    }

    .icon {
      width: 1.5rem;
      fill: currentColor;
    }

    .em {
      font-weight: 600;
    }
  }

  .body {
    flex: 1;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .price {
    font-size: 1.2rem;
    font-weight: 400;

    .em {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}
