.container {
  width: 100%;

  &.align-center {
    margin: 0 auto;
  }

  &.xs {
    max-width: var(--container-width-xs);
  }

  &.sm {
    max-width: var(--container-width-sm);
  }

  &.md {
    max-width: var(--container-width-md);
  }

  &.lg {
    max-width: var(--container-width-lg);
  }
}
