@use 'styles/mixins' as *;

.content {
  h1 {
    font-weight: 600;
    font-size: var(--font-size-30);
  }

  @include spacing(y, 2.5rem);
}

.form {
  @include spacing(y, 1rem);
}

.inputs {
  @include spacing(y, 1.5rem);
}

.actions {
  text-align: right;
}
