.trigger {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em 1em;

  color: var(--color-text);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;

  background-color: var(--color-grey-95);
  border: 0;
  border-radius: 100rem;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }

  &:hover {
    background-color: var(--color-grey-90);
  }

  &:focus {
    outline: 2px solid transparent;
  }

  &.-focus {
    box-shadow: var(--outline-button);
  }

  &.-active {
    color: var(--color-primary-40);
    font-weight: 500;

    background-color: var(--color-primary-90);
  }

  .icon {
    width: 0.75em;
    height: 0.75em;

    fill: currentColor;
  }
}
