@use 'styles/mixins' as *;

.layout {
  display: flex;
  align-items: flex-start;
  gap: 2rem;

  @include mobile {
    flex-direction: column;
    align-items: stretch;
  }
}

.sidebar {
  background-color: var(--color-white);
}

.main {
  flex-grow: 1;
}
