@use 'styles/mixins' as *;

.header {
  @include spacing(y, 0.5rem);

  .title {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem 2rem;
    padding-block: 0.5rem;

    a {
      display: flex;
      gap: 0.25em;
      align-items: center;

      color: inherit;
      font-weight: 500;
      font-size: 1.4rem;

      &:hover {
        text-decoration: none;
      }

      .icon {
        width: 1em;
        height: 1em;
      }
    }
  }
}
