@use 'styles/mixins' as *;

.container {
  --container-width: 103.5rem;
  --container-height: 3rem;
  --grid-gap: 2rem;
  --grid-columns: 2;

  width: 100%;

  font-size: var(--font-size-16);
  line-height: 1.875;

  @include spacing(y, 2rem);

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: var(--container-height);

    @include spacing(x, 0.5rem);
  }

  .icon {
    flex-shrink: 0;
    width: 2rem;
    height: 3rem;

    fill: currentColor;
  }

  .heading {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    color: var(--color-text);

    @include spacing(x, 0.75rem);
  }

  .title {
    font-weight: 500;
  }

  .content {
    --column-width: calc(
      (
          (var(--container-width) - var(--grid-columns) * var(--grid-gap)) /
            (var(--grid-columns) + 1)
        ) + 1px
    );

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--column-width), 1fr));
    gap: var(--grid-gap);
    align-items: flex-start;

    &.single {
      grid-template-columns: 1fr;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 0.75rem;
  }
}
