@use 'styles/mixins' as *;

.input {
  $icon-size: 1.75em;
  $icon-offset: 0.25em;

  font-size: 1.6rem;
  position: relative;

  @include spacing(y, 0.25em);

  > input {
    + div {
      display: flex;
      align-items: center;
      width: 100%;
      padding-left: calc(2 * #{$icon-offset} + #{$icon-size});
      font-weight: 500;
      background-color: var(--color-white);
      border: 2px solid var(--color-grey-60);
      border-radius: var(--border-radius-sm);
      transition: var(--transition-duration-md) box-shadow;
      line-height: 1;
      height: 2.25em;
      cursor: pointer;
    }

    &[disabled] + div {
      border-color: var(--color-grey-75);
      background-color: var(--color-grey-95);
      cursor: not-allowed;
      color: var(--color-grey-40);
    }

    &[aria-invalid='true'] + div {
      border-color: var(--color-danger-60);
      background-color: var(--color-danger-90);

      + small {
        color: var(--color-danger-60);
      }
    }

    &[data-focused='true'] {
      outline: 2px solid transparent;
      border-color: var(--color-grey-05);
      box-shadow: var(--outline-input);
    }
  }

  > label {
    display: block;
    font-size: 0.9em;
    color: var(--color-grey-40);
    font-weight: 600;
  }

  > small {
    font-size: 0.75em;
    font-weight: 400;
  }

  > svg {
    fill: currentColor;
    position: absolute;
    top: 50%;
    left: $icon-offset;
    width: $icon-size;
    height: $icon-size;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
