@use 'src/styles/mixins' as *;

.container {
  font-size: 1.6rem;
  line-height: 1.6;

  @include spacing(y, 1em);

  .dropzone {
    width: 100%;
    padding: 1.25em;

    background-color: var(--color-white);
    border: 1px dashed var(--color-grey-60);
    border-radius: var(--border-radius-sm);

    transition: var(--transition-duration-md) box-shadow;

    &:hover {
      border-color: var(--color-grey-40);
    }

    &[data-drag-state='accept'],
    &[data-drag-state='active'] {
      background-color: var(--color-grey-99);
      border-color: var(--color-success-60);
    }

    &[data-drag-state='reject'] {
      border-color: var(--color-danger-60);
    }

    &[disabled] {
      background-color: var(--color-grey-95);
      border-color: var(--color-grey-75);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    @include spacing(y, 0.5em);

    .icon {
      display: inline-block;
      width: 2em;
      height: 2em;

      fill: var(--color-primary-60);
    }

    .label {
      font-weight: 600;
      font-size: 0.8em;
    }

    .divider {
      width: 9em;
      max-width: 100%;
    }

    .info {
      margin-top: 1rem;

      font-size: 0.75em;
      font-weight: 400;

      span {
        font-weight: 500;
      }
    }
  }

  .files {
    @include spacing(y, 1em);

    > h4 {
      color: var(--color-grey-65);
      font-weight: 600;
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }

  .filesList {
    @include spacing(y, 0.75em);
  }

  .fileContainer {
    display: flex;
    align-items: center;

    @include spacing(x, 2em);

    > *:first-child {
      flex-shrink: 0;
    }

    > *:last-child {
      margin-left: auto;
    }
  }

  .fileInfo {
    > h6 {
      color: var(--color-text);
      font-weight: 600;
      font-size: 0.8em;
    }

    > span {
      color: var(--color-text);
      font-weight: 300;
      font-size: 0.8em;
    }
  }
}
