@use 'styles/mixins' as *;

.container {
  display: flex;
  align-items: flex-start;
  margin: 5rem 0;

  @include spacing(x, 2rem);

  > *:nth-child(1) {
    flex-shrink: 0;
    width: 25rem;
  }

  > *:nth-child(2) {
    flex-grow: 1;
  }
}
