@use 'styles/mixins' as *;

.content {
  @include spacing(y, 2rem);
}

.form {
  width: 100%;

  @include spacing(y, 2rem);
}

.fieldset {
  @include spacing(y, 1rem);
}

.actions {
  text-align: right;

  @include spacing(x, 1rem);
}

.map {
  width: 100%;
  height: 50rem;
}
