@use 'styles/mixins' as *;

.tile {
  display: flex;
  gap: 1em;
  align-items: flex-start;
  width: 100%;
  padding: 0.75em 1em;

  font-size: 1.4rem;
  line-height: 1.25;

  background-color: var(--color-grey-99);
  box-shadow: var(--shadow-primary);

  .icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    padding: 0.5em;

    background-color: var(--color-grey-95);
    border-radius: 50%;
  }

  .body {
    flex: 1;

    @include spacing(y, 1em);
  }

  .header {
    @include spacing(y, 0.25em);
  }

  .title {
    font-weight: 600;

    a {
      color: currentColor;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .subtitle {
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.6;
  }

  .fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 3.5em;
  }

  .field {
    @include spacing(y, 0.25em);
  }

  .label {
    font-weight: 400;
    font-size: 0.9em;
  }

  .sublabel {
    font-weight: 500;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em 0.5em;
  }
}
