@use 'styles/mixins' as *;

.tile {
  display: flex;
  gap: 1em;
  align-items: flex-start;
  width: 100%;
  padding: 0.25em 1em;

  font-size: 1.4rem;

  background-color: var(--color-white);
  border-left: 3px solid var(--color-grey-90);

  .icon {
    flex-shrink: 0;
    width: 2.5em;
    height: 2.5em;
    padding: 0.5em;

    background-color: var(--color-grey-95);
    border-radius: 50%;

    fill: var(--color-grey-05);
  }

  .body {
    flex: 1;

    @include spacing(y, 1em);
  }

  .header {
    @include spacing(y, 0.25em);
  }

  .title {
    font-weight: 600;
  }

  .subtitle {
    color: var(--color-grey-50);
    font-weight: 500;
    font-size: 0.9em;
  }

  .fields {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
  }

  .field {
    @include spacing(y, 0.25em);
  }

  .label {
    font-weight: 400;
    font-size: 0.9em;
  }

  .sublabel {
    font-weight: 500;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em 0.5em;
  }
}
