@use 'styles/mixins' as *;

.content {
  @include spacing(y, 2.5rem);

  .title {
    font-weight: 600;
    font-size: var(--font-size-24);
    text-align: center;
  }

  .text {
    font-size: var(--font-size-14);
    font-weight: 500;
  }

  .form {
    @include spacing(y, 5rem);
  }

  .fieldset {
    @include spacing(y, 1rem);
  }

  .footer {
    font-size: var(--font-size-12);
    text-align: center;

    @include spacing(x, 0.5rem);
  }
}
