@use 'styles/mixins' as *;

.content {
  font-size: var(--font-size-16);

  .title {
    color: var(--color-grey-30);
    font-size: 0.75em;
  }

  .subtitle {
    color: var(--color-grey-20);
    font-size: 1em;
    line-height: 1.6;
    white-space: pre-line;
  }
}
