@use 'styles/mixins' as *;

.content {
  font-size: var(--font-size-16);

  @include spacing(y, 0.25em);

  .title {
    font-size: 0.75em;
    color: var(--color-grey-30);
  }

  .subtitle {
    font-size: 1em;
    color: var(--color-grey-20);
    line-height: 1.35;
  }
}
