@use 'styles/mixins' as *;

.mapContainer {
  @include spacing(y, 0.5rem);
}

.map {
  width: 100%;
  height: 55rem;
}

.actions {
  text-align: right;

  @include spacing(x, 1rem);
}

.tooltip {
  &::before {
    display: none;
  }
}
