.section {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;

  .title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.4;
    margin-block-end: 2rem;
  }

  .grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem 2rem;
  }

  .group {
    display: contents;
  }

  .label {
    font-weight: 500;
  }

  .value {
    align-self: center;
  }
}
