.fading {
  --fade-duration: 2 * 1000;

  animation: fade;
  animation-delay: calc(
    (var(--fade-delay, 6 * 1000) - var(--fade-duration)) * 1ms
  );
  animation-duration: calc(var(--fade-duration) * 1ms);
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
