@import 'styles/mixins';

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  padding: 0.5em;

  font-size: 1rem;

  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-90);
}

.logo {
  padding: 0.25em;

  border-radius: var(--border-radius-sm);

  @include focus-button;

  &:hover {
    background-color: var(--button-ghost-background-hover);
  }

  svg {
    height: 3.25em;

    fill: var(--color-text);
  }
}

.nav {
  > ul {
    display: flex;
    align-items: center;

    @include spacing(x, 0.5em);
  }
}
