@use 'styles/mixins' as *;

.item {
  --gap: 0.5em;
  display: flex;
  align-items: center;

  color: var(--color-grey-50);

  font-weight: 500;

  &:not(:last-child) {
    margin-inline-end: var(--gap);

    &::after {
      font-size: 0.75em;

      content: '>';
      margin-inline-start: var(--gap);
    }
  }

  .link {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: 2px solid transparent;
      box-shadow: var(--outline-button);

      &:not(:focus-visible) {
        box-shadow: none;
      }
    }

    &:focus-visible {
      box-shadow: var(--outline-button);
    }
  }

  .heading {
    color: var(--color-text);
    font-weight: 600;
  }
}
