:root {
  --outline-button: 0 0 0 1px var(--color-white),
    0 0 0 3px var(--color-primary-60);
  --outline-input: 0 0 3px 2px
    hsla(var(--color-primary-h), var(--color-primary-s), 85%, 0.75);
  --outline-input-error: 0 0 3px 2px
    hsla(var(--color-danger-h), var(--color-danger-s), 85%, 0.75);
}
