:root {
  --transition-duration-sm: 100ms;
  --transition-duration-md: 150ms;
  --transition-duration-lg: 350ms;

  --header-height: 5rem;

  --container-width-xs: 40rem;
  --container-width-sm: 54rem;
  --container-width-md: 78rem;
  --container-width-lg: 114rem;
}
