@use 'styles/mixins' as *;

.content {
  position: relative;

  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .title {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    font-weight: 600;
    font-size: var(--font-size-18);
    line-height: 1.3;

    background: linear-gradient(
      180deg,
      var(--color-white) 0%,
      var(--color-white) 50%,
      transparent 100%
    );
    padding-block-end: 2.25rem;
  }

  .footer {
    position: sticky;
    bottom: -1px;
    left: 0;
    z-index: 1;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;

    background: linear-gradient(
      0deg,
      var(--color-white) 0%,
      var(--color-white) 50%,
      transparent 100%
    );
    padding-block-start: 2.25rem;

    @include mobile {
      justify-content: center;
    }
  }
}
