@use 'src/styles/mixins' as *;

.input {
  font-size: 1.6rem;

  @include spacing(y, 0.35em);

  > input,
  > textarea {
    display: block;
    width: 100%;
    padding: 0.25em 0.5em;

    font-weight: 500;

    color: var(--color-text);
    background-color: var(--color-white);
    border: 1px solid var(--color-grey-60);
    border-radius: var(--border-radius-sm);

    transition: var(--transition-duration-md) box-shadow;

    &[readonly] {
      color: var(--color-grey-25);

      border-style: dashed;
      cursor: default;
    }

    &[disabled] {
      color: var(--color-grey-40);

      background-color: var(--color-grey-95);
      border-color: var(--color-grey-75);
      cursor: not-allowed;
    }

    &[aria-invalid='true'] {
      background-color: var(--color-danger-95);
      border-color: var(--color-danger-60);

      ~ small[data-help='error'] {
        color: var(--color-danger-60);
      }
    }

    &:hover {
      border-color: var(--color-grey-40);

      &[aria-invalid='true'] {
        border-color: var(--color-danger-40);
      }
    }

    &:focus {
      border-color: var(--color-primary-60);
      outline: 2px solid transparent;
      box-shadow: var(--outline-input);

      &[aria-invalid='true'] {
        border-color: var(--color-danger-60);
        box-shadow: var(--outline-input-error);
      }
    }

    &::placeholder {
      font-weight: 400;
      color: var(--color-grey-60);
    }
  }

  > input {
    height: 2.25em;

    line-height: 1;
  }

  > textarea {
    line-height: 1.6;

    resize: vertical;
  }

  > label {
    display: inline-block;

    color: var(--color-text);
    font-weight: 600;
    font-size: 0.8em;
  }

  > small {
    display: block;

    font-weight: 400;
    font-size: 0.7em;
  }
}
