@use 'styles/mixins' as *;

.main {
  padding: calc(var(--spacing) * 1px) 0;

  @include spacing(y, calc(var(--spacing) * 1px));

  .sections {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: calc(var(--spacing) * 1px);

    > *:nth-child(1) {
      flex-grow: 1;
    }

    > *:nth-child(2) {
      flex-basis: 30rem;

      @include tablet {
        flex-basis: 100%;
      }
    }
  }
}
