@use 'styles/mixins' as *;

.navigation {
  --button-size: 6.5em;
  --icon-size: 30%;
  --gap: 1em;
  padding: var(--gap);

  font-size: 1rem;
  text-align: center;

  @include mobile {
    font-size: 0.85rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    @include mobile {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: var(--button-size);
    height: var(--button-size);
    padding: 0.2em;

    color: var(--color-text);
    font-weight: 600;
    text-align: center;
    text-decoration: none;

    border: 0;
    border-radius: var(--border-radius-sm);
    cursor: pointer;

    transition-duration: var(--transition-duration-md);
    transition-property: background-color, box-shadow;

    @include spacing(y, 0.25em);

    &:hover,
    &:active,
    &[aria-current='page'] {
      background-color: var(--color-grey-95);
    }

    .icon {
      flex-shrink: 0;
      width: var(--icon-size);
      height: var(--icon-size);

      fill: currentcolor;
    }
  }
}
