.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;

  color: var(--color-grey-60);

  border: 2px dashed currentColor;

  aspect-ratio: 16 / 9;

  @supports not (aspect-ratio: 16 / 9) {
    padding: 5rem;
  }

  &.-radius-xs {
    border-radius: var(--border-radius-xs);
  }

  &.-radius-sm {
    border-radius: var(--border-radius-sm);
  }

  &.-radius-md {
    border-radius: var(--border-radius-md);
  }

  &.-radius-full {
    border-radius: 50%;
  }

  > .icon {
    width: 5rem;
    height: 5rem;

    fill: currentColor;
  }
}
