@use 'styles/mixins' as *;

.container {
  display: flex;
  align-items: center;

  color: var(--color-grey-30);
  font-size: var(--font-size-16);

  @include spacing(x, 1em);

  .icon {
    flex-shrink: 0;
    width: 1.6em;

    fill: var(--color-grey-50);
  }

  .content {
    flex-grow: 1;

    @include spacing(y, 0.4em);
  }

  .title {

    display: -webkit-box;
    overflow: hidden;

    color: var(--color-grey-20);
    font-size: 1em;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .subtitle {
    font-size: 0.7em;
  }

  .actions {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    @include spacing(x, 1em);
  }
}
