@use 'styles/mixins' as *;

.container {
  @include spacing(y, 2rem);
}

.form {
  width: 100%;

  @include spacing(y, 2rem);
}

.fieldset {
  @include spacing(y, 1rem);
}

.actions {
  text-align: right;

  @include spacing(x, 1rem);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 1rem;
}
