.container {
  position: relative;

  button[aria-expanded='false'] + ul[role='menu'] {
    display: none;
  }

  button[aria-expanded='true'] + ul[role='menu'] {
    display: block;
  }

  ul[role='menu'] {
    position: absolute;

    min-width: 17.5rem;
    padding: 0.5rem 0;
    background-color: var(--color-white);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-default);

    &.bottom-left,
    &.bottom-right {
      top: 100%;
    }

    &.top-left,
    &.top-right {
      bottom: 100%;
    }

    &.top-left,
    &.bottom-left {
      left: 0;
    }

    &.top-right,
    &.bottom-right {
      right: 0;
    }
  }

  li[role='none'] {
    display: block;
  }
}
