@use 'styles/mixins' as *;

.container {
  width: 100%;
  padding: 0.5em;

  border-radius: var(--border-radius-xs);

  &:hover {
    background-color: var(--color-grey-95);
  }

  @include spacing(y, 1rem);
}

.mapContainer {
  width: 100%;
  height: 10rem;
}
