@use 'styles/mixins' as *;

.footer {
  color: var(--color-grey-05);
  text-align: center;

  background-color: var(--color-grey-90);

  .body {
    width: 100%;
    padding: 1rem 1.5rem;

    text-align: left;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: flex-end;
    padding: 3rem 0;
  }

  .navigation {
    flex: 1;
  }

  .groups {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

    @include mobile {
      gap: 2.5rem;
    }
  }

  .group {
    white-space: nowrap;
  }

  .title {
    font-weight: 600;
    font-size: 1.4rem;
    margin-block-end: 1.25rem;
  }

  .links {
    line-height: 1.75;
  }

  .link {
    display: flex;
    gap: 0.5em;
    align-items: center;

    a {
      color: inherit;
      font-weight: 400;
      font-size: 1.4rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .legal {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0;

    font-weight: 400;
    font-size: 1.2rem;

    @include mobile {
      flex-direction: column;
      gap: 0.5rem;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
