.divider {
  display: flex;
  gap: 0.5em;
  align-items: center;
  width: 100%;
  min-height: 1.3em;

  color: var(--color-grey-70);
  font-size: 1.3rem;
  text-transform: uppercase;

  &.-empty {
    gap: 0;
  }

  &::before,
  &::after {
    display: block;
    width: 100%;
    height: 1px;

    background-color: currentColor;

    content: '';
  }
}
