@use 'src/styles/mixins' as *;

.checkbox {
  --box-size: 1.2em;

  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  line-height: 1.25;
  color: var(--color-text);

  @include spacing(x, 0.5em);

  &.selected {
    > .box {
      background-color: var(--color-grey-05);

      &::after {
        opacity: 1;
      }
    }
  }

  &.disabled {
    color: var(--color-grey-40);
    cursor: not-allowed;

    .box {
      background-color: var(--color-grey-95);
      border-color: var(--color-grey-75);

      &::after {
        border-color: var(--color-grey-75);
      }
    }
  }

  &.readonly {
    cursor: initial;

    .box {
      border-style: dashed;
    }

    &.selected {
      .box {
        background-color: var(--color-white);

        &::after {
          border-color: var(--color-grey-60);
        }
      }
    }
  }

  &.focus {
    .box {
      border-color: var(--color-primary-60);
      outline: 2px solid transparent;
      box-shadow: var(--outline-input);
    }
  }

  .box {
    width: var(--box-size);
    height: var(--box-size);
    background-color: var(--color-white);
    border: 1px solid var(--color-grey-60);
    border-radius: var(--border-radius-xs);
    flex-shrink: 0;
    position: relative;

    &::after {
      content: '';
      border-width: 0;
      border-bottom-width: 2px;
      border-left-width: 2px;
      border-style: solid;
      border-color: var(--color-white);
      display: block;
      width: calc(var(--box-size) * 0.3);
      height: calc(var(--box-size) * 0.5);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%) rotate(-45deg);
      opacity: 0;
    }
  }
}
