@use 'styles/mixins' as *;

.container {
  --size: 1.5rem;
  --size-circle: 1.75em;
  --color: var(--color-grey-85);
  --color-complete: var(--color-success-50);
  --color-current: var(--color-grey-50);

  width: 100%;
  font-size: var(--size);

  > ul {
    display: flex;
    align-items: center;

    > li {
      display: flex;
      align-items: center;
      margin: auto;

      &::after {
        content: '\2718';
        color: var(--color-white);
        background-color: var(--color);
        width: var(--size-circle);
        height: var(--size-circle);
        line-height: var(--size-circle);
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        flex-shrink: 0;
      }

      &:not(:first-child) {
        width: 100%;

        &::before {
          content: '';
          width: 100%;
          min-width: 0.75em;
          height: 0.15em;
          background-color: var(--color);
        }
      }

      &[aria-label='completed'] {
        &::after {
          content: '\2714';
          background-color: var(--color-complete);
        }

        &::before {
          background-color: var(--color-complete);
        }
      }

      &[aria-label='current'] {
        &::after {
          background-color: var(--color-current);
        }
      }
    }
  }
}
