.toast {
  display: flex;
  gap: 1em;
  align-items: flex-start;
  width: 25em;
  max-width: 100%;
  padding: 1.5em 1em 1.5em 1.5em;

  font-size: 1.4rem;

  background-color: var(--color-white);

  .icon {
    width: 2.5em;
    height: 2.5em;
    padding: 0.5em;

    border-radius: 50%;

    fill: var(--color-white);

    &.type-info {
      background-color: var(--color-primary-60);
    }

    &.type-success {
      background-color: var(--color-success-60);
    }

    &.type-warning {
      background-color: var(--color-warning-60);
    }

    &.type-danger {
      background-color: var(--color-danger-60);
    }
  }

  .message {
    flex: 1;

    font-weight: 500;
  }
}
