@mixin focus-button {
  &:focus {
    outline: 2px solid transparent;
    box-shadow: 0 0 0 2px var(--button-outline);

    &:not(:focus-visible) {
      box-shadow: none;
    }
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--button-outline);
  }
}
