@import 'styles/variables';

@mixin ellipsis {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

@function px-to-em($pixels, $base-font-size: $fontSize) {
  @return #{$pixels/$base-font-size}em;
}
